<header id="site-header">
    <div id="site-header__container"> 

        <a id="site-header__logo" href="/">
            <div class="o-icon"> 
                <svg viewBox="0 0 44 50" style="stroke: none;">

                </svg> 
            </div>
        </a>
        
        <nav id="site-header__nav">

            <!-- LINKS Iniciais -->
            <ul id="site-header__nav-list-01">
                <li class="site-header__nav-item is-active" data-id="home"> 
                    <a href="/">Home</a> 
                </li>

                <li class="site-header__nav-item" data-id="enterprise"> 
                    <a href="/enterprise">Enterprise</a> 
                </li>

                <li class="site-header__nav-item" data-id="pricing"> 
                    <a href="/pricing">Pricing</a> 
                </li>

                <li class="site-header__nav-item" data-id="customers"> 
                    <a href="/customers">Customers</a> 
                </li>
            </ul>

            <!-- LOGIN / LOGOUT -->
            <div id="site-header__button-list"> 

                <div id="site-header__button-transparent-inner-wrapper"> 
                    <a href="/customers">Login</a>
                </div>

                <a id="site-header__button-cta" target="_blank" href="https://app.devin.ai/signup"
                class="is-active"> <span>Get started</span> </a>

            </div>

        </nav>
    </div>
</header>