<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/3e86a597ae.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="iconces_styles.css">
    
</head>

<body>
    
    <div class="motile">
        <a href="#" style="--color: #0d0194;">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="#" style="--color: #192bca;">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="#" style="--color: #a0248b;">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#" style="--color: #882525;">
            <i class="fa-brands fa-youtube"></i>
        </a>
    </div>

</body>

</html>