<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head"); %>

<body>

    <%- include("../partials/menu"); %>

    <main>

      <h4>ESCOLHA</h4>
      
      <section class="doar">
          
        <article>
          <a href="/tabela"> <img src="../static/Img/tabela.png" alt="Doações" id="img-j"> </a>
          <h3>Exibir Tabela de Doações</h3>
        </article>
          
        <article>
          <a href="/realizardoacao"> <img src="../static/Img/doar.jpg" alt="Doar" id="img-j"> </a>
          <h3>Página para Doar<h3>
        </article>

      </section>
    </main>

    <%- include("../partials/footer"); %> 
    

</body>
</html>