<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head"); %>

<body>

    <%- include("../partials/menu"); %>

    <main>
        <section class="sobre">
          <h1>EQUIPE</h1>
          <img src="/static/img/Gamora-Star-Lord-Drax-the-Destroyer-Rocket-Raccoon.png" alt="Equipe reunida" class="img-equipe">
    
          <article>
            <p id="tata">
              Desenvolvido Pela Melhor Equipe de Todas
            </p>
          </article>
          
          <article>
            <p id="nos">Arthur Alloi</p>
            <p id="nos">João Lucas</p>
            <p id="nos">Larissa Mantovani</p>
            <p id="nos">Lucas Alcantara</p>
            <p id="nos">Thomaz Lima</p>
          </article>

          <article>
            <p>
              <span id="dif">Disciplina:</span> Projeto de Software II
            </p>
          </article>

          <article>
            <p>
              <span id="dif">Instrutores:</span> Prof. Ana e Prof. Ricardo
            </p>
          </article>
        </section>
    </main>

    <%- include("../partials/footer"); %> 

</body>
</html>