<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head"); %>

<body>

  <video controls autoplay muted loop id="bg-video">
    <source src="https://cdn.pixabay.com/video/2023/11/28/191159-889246512_small.mp4" type="video/mp4"> 
    Seu navegador não suporta vídeo.
  </video>
  

    <%- include("../partials/menu"); %>

    <main class="content">
    
        <section class="sobre">
          <h6>AJUDE <span class="letra">QUEM</span> PUDER</h6>
          <h2>O Que Não te Serve Mais, Pode Ser o Acolhimento do Próximo ! </h2>
          <h2>O frio passa. A Solidariedade Aquece Para Sempre.</h2>
        </section>
    
        <article>
          <a href="/sobre"><input type="button" value="Sobre" id="btnLog"></a>
        </article>
    
        <article>
          <div class="imagem">
            <img src="/static/img/vovó (1).png" alt="Senhora Recebendo Ajuda" id="img-s">
          </div>
        </article>
        
      </main>

    <%- include("../partials/footer"); %> 

</body>
</html>