<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head"); %>

<body>

    <%- include("../partials/menu"); %>

    <main class="content">
    
        <section class="sobre">
          <h1>AJUDE <span class="letra">QUEM</span> PUDER</h1>
          <h2>O que não te serve mais, pode ser o acolhimento do próximo </h2>
        </section>
    
        <article>
          <a href="/sobre"><input type="button" value="Sobre" id="btnLog"></a>
        </article>
    
        <article>
          <div class="imagem">
            <img src="/static/img/vovó (1).png" alt="Senhora Recebendo Ajuda" id="img-s">
          </div>
        </article>
        
      </main>

    <%- include("../partials/footer"); %> 

</body>
</html>