<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head"); %>

<body>

    <%- include("../partials/menu"); %>

    <main>
        <section class="sobre">
          <h1>Nossa Localização</h1>
          
          <article>
            <a href="https://www.google.com.br/maps/place/Escola+SENAI+%22Dr.+Celso+Charuri%22/@-22.8330747,-47.2644649,16z/data=!4m6!3m5!1s0x94c8bd1ab1fc77f3:0xf2ff0cd47cdcb7d8!8m2!3d-22.8340925!4d-47.2630028!16s%2Fg%2F1tj53q4q?hl=pt-BR&entry=ttu&g_ep=EgoyMDI1MDUyNi4wIKXMDSoASAFQAw%3D%3D">
                <img src="/static/Img/Maps.jpg" alt="Equipe reunida" class="img-maps">
            </a>
          </article>

          <article>
            <p>
              Av. Rebouças, 3965 - Jardim Sao Carlos, Sumaré - SP, 13170-023
            </p>
          </article>

          <article>
          <p id="dif">
              O frio está chegando, e é hora de aquecer quem mais precisa! A unidade do SENAI “Dr. Celso Charuri”, 
              localizada na Avenida Rebouças, 3965, em Sumaré, está promovendo uma Campanha do Agasalho 
              solidária. Estamos arrecadando roupas em bom estado para serem destinadas a
              pessoas em situação de vulnerabilidade.
            </p>
          </article>

          <article>
            <img src="/static/img/Seta.png" alt="Seta para cima" class="img-c">
          </article>

          <article>
            <p id="dif">
              Clique na Imagem a cima para ser redirecionado.
            </p>
          </article>

        </section>
    </main>

    <%- include("../partials/footer"); %> 

</body>
</html>