<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head"); %>

<body>

    <%- include("../partials/menu"); %>

    <main class="content">

      <div class="caixa-login">

        <h2>Faça seu Login</h2>
        
        <img src="/static/img/Log.jpg" alt="Usuário" class="avatar" />
        
        <form>
          <label for="email">E-mail</label>
          <input type="email" id="email" placeholder="Digite seu e-mail"  class="input-form" required/>
  
          <label for="senha">Senha</label>
          <input type="password" id="senha" placeholder="Digite sua senha"  class="input-form" required />
  
          <button type="submit">Entrar</button>
        </form>
        
      </div>

    </main>

    <%- include("../partials/footer"); %> 

</body>
</html>