<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head"); %>

<body>

  <%- include("../partials/menu"); %>

  <main class="content">

    <div class="caixa-login">

      <h2>Faça seu Login</h2>

      <img src="/static/img/Log.jpg" alt="Usuário" class="avatar" />

      <form action="/login" method="POST">

        <label for="username">Nome</label>
        <input type="text" id="username" name="username" placeholder="Digite seu Nome" class="input-form" required />

        <label for="password">Senha</label>
        <input type="password" id="password" name="password" placeholder="Digite sua senha" class="input-form" required />

        <div class="fancy">
          <button type="submit">Entrar</button>
        </div>
        
      </form>

      <% if (erro) { %>
        <p class="error" style="color: red; margin-top: 10px;"><%= erro %></p>
      <% } %>

    </div>

  </main>

  <%- include("../partials/footer"); %>

</body>

</html>
