*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
  background:linear-gradient(45deg, #333, #261f18);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 50px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

footer {
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px 10px;
  text-align: center;;
}

footer h2{
  font-size: 1.2rem;
}

main{
  align-content: center; 
  flex: 1;
  text-align: center;
}

.especi{
  display: inline;
}

#bg-video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.3);
}

/*aaaaaaaaaaaaaa*/


/*aaaaaaaaaaaaaa*/

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bolder;
}

.nav-links{
  list-style: none;
  display: flex;
  gap: 20px;
  transform: translateY(5px);
}

ul li a input{
  cursor: pointer;
}

.nav-links a{
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  transition: 1s;
  border-radius: 12px;
}
  
.nav-links a:hover{
  color: #fff;
  background-color: #01baef;
  padding: 7px;
  box-shadow: 0 0 20px #01baef;
}

input{
  font-family: monospace;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 0 0 10px #98d9eb;
  border: 0;
  border-radius: 12px;
  background-color: transparent;
  padding: 3px;
  margin-bottom: 15px;
  transition: 0.6s;
}

a{
  text-decoration: none;
}

.titulo-container{
  display: flex;
  align-items: center; 
  cursor: pointer;
}

.titulo-container:hover #logoimg{
  animation: gira 0.65s linear both;
}

.doar article a:hover + h3 {
  color: #00d0ff;
  text-shadow: 0 0 20px #00d0ff;
  transition: 0.7s;
  font-size: 35px;
}

.tit {
  transform: translateX(70px);
  font-size: 38px;
  font-weight: bold;

  background: linear-gradient(90deg, #ffffff, #09fcfc);
  background-size: 200% 200%;

  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientText 5s ease-in-out infinite;
  text-transform: uppercase;
}

@keyframes gradientText {
  0% { background-position: 0% 50%; }
  25% { background-position: 50% 100%; }
  50% { background-position: 200% 200%; }
  75% { background-position: 50% 100%; }
  100% { background-position: 0% 50%; }
}

#logoimg{
  height: 55px;
  width: 55px;
  animation: rotate-scale 1s linear both /*DELAY*/;
             /*gira 1s linear;*/
  transition: 1.2s;
  position: absolute;
}

@keyframes rotate-scale{
  0% {
    transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: scale(0.5) rotate3d(1, 1, 0, -180deg);
  }
  100% {
    transform: scale(1) rotate3d(1, 1, 0, -360deg);
  }
}

@keyframes gira{
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(1.8) rotateZ(180deg);
  }
  100%{ 
    transform: scale(1) rotateZ(360deg);
  }
}
  
@keyframes rodaroda {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg); 
  }
}

.content h1{
  font-size: 4rem;
  letter-spacing: 5px;
}

.letra{
  color: aqua;
}

.content p{
  margin-top: 15px;
  font-size: 1.1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#btnLog{
  background-color: #ffc800;
  color: black;
  padding: 12px;
  font-size: 24px;
  font-weight: bolder;
  text-transform: uppercase;
  border: 0 solid;
  border-radius: 8px;
  cursor: pointer;
  transition: 1s;
  animation: /*dream*/ 5s infinite ease-in-out;
}

#btnLog:hover{
  background-color: #ff9b0e;
  border: 1px solid #ff9b0e;
  box-shadow: 0 0 100px #ff9b0e;
  padding: 16px;
  font-size: 28px;
}

.sobre{
  padding: 100px 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.sobre h1{
  font-size: 45px;
  color: #ffc800;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #ffc800;
}

.sobre p{
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.sobre article #dif{
  color: #ffc800;
  font-weight: bolder;
}

.sobre article #ahi{
  color: #fdd692;
  font-weight: bolder;
}

.img-maps{
  width: auto;
  height: 400px;
  box-shadow: 0 0 10px #fff;
}

#img-s{
  width: 40%;
  height: 40%;
}

.img-c{
  width: 100px;
  height: 100px;
}

.img-equipe{
  width: 600px;
  height: 370px;
  margin-bottom: 10px;
  box-shadow: 0 0 20px #ff9b0e; box-shadow: 0 0 25px #ff9b0e;
  transition: 1s;
}

.img-equipe:hover{
  width: 620px;
  height: 390px;
  box-shadow: 0 0 20px #01baef; box-shadow: 0 0 25px #01baef;
}

.sobre article #nos{
  font-size: 22px;
  color: #fff;
  text-shadow: 0 0 5px #01baef;
  transition: 1s;
}

.sobre article #nos:hover{
  font-size: 30px;
  color: #01baef;
  font-weight: bolder;
}

.sobre article #tata{
  font-size: 30px;
  color: #ffc800;
  font-weight: bolder;
}

.img-login{
  margin-top: 10px;
  border-radius: 360px;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 50px #3e3e32;
}

h3{
  font-size: 30px;
  font-weight: bolder;
  color: #6c09bd;
  margin-bottom: 15px;
  text-shadow: 0 0 20px #6c09bd;
}

#btnLogin{
  font-size: 22px;
  background: linear-gradient(45deg, #98d9eb,#01baef);
  font-weight: bolder;
  padding: 5px;
  margin-top: 6px;
  cursor: pointer;
  transition: 1s;
}

#btnLogin:hover{
  font-size: 25px;
  background: linear-gradient(45deg,#855ebc, #4545bf);
  color: #2e0550;
}

::placeholder{
  font-size: 15px;
  color: #645c59;
  font-weight: normal;
}

#img-j {
  width: 300px;
  height: 300px;
  border-radius: 360px;
  transition: 0.7s;
}

#img-f{
  margin-top: -80px;
  margin-bottom: 30px;
  width: 50%;
  height: 50%;
}

#img-v{
  width: 7%;
  height: 7%;
  transform: translateX(110%);
  margin-top: -30px;
  margin-bottom: 20px;
}


.doar {
  display: flex;
  justify-content: center;
  margin-top: 50px; 
  gap: 170px;
  margin-bottom: 20px;
}

.doar article h3 {
  transition: 1.3s;
}

.doar article #img-j:hover{
  width: 350px;
  height: 350px;
}

/* UAuu */
/*Para que o <h3> mude de cor quando a imagem for "hoverada", você precisa usar o seletor de irmão no CSS, 
como o + (irmão adjacente) ou ~ (irmão geral).

Nesse caso, como o <img> está dentro do <a> e o <h3> está logo depois do <a>, você pode usar a:hover + h3*/
.doar article a:hover + h3 {
  color: #00d0ff;
  text-shadow: 0 0 20px #00d0ff;
  transition: 0.7s;
  font-size: 35px;
}

h4{
  margin-top: 100px;
  font-size: 50px;
  text-shadow: 0 0 20px #ff9b0e; text-shadow: 0 0 30px #ffc800;
  font-weight: bolder;
  color: #ffc800;
  margin-bottom: 20px;
}

h5{
  font-size: 22px;
  font-weight: bolder;
  color: #fbffb9;
  text-shadow: 0 0 20px #678ead;
}

h6{
  margin-bottom: 10px;
  font-size: 80px;
  font-weight: bolder;
  color: #fbffb9;
  text-shadow: 0 0 20px #678ead;
}

input[type="text"]:hover,
input[type="password"]:hover {
    border: 2px solid #01baef;
    background-color: #5b5a5aaa;
    color: #fff;
}

.caixa-login {
  background-color: #333;
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
  border-radius: 20px;
  padding: 30px;
}

.caixa-login:hover{
  animation: shadow-drop 0.5s linear forwards;
}

.caixa-login h2 {
  margin-bottom: 10px;
  color: #78fecf;
  text-shadow: 0 0 10px #00d0ff;
  font-size: 40px;
}

@keyframes shadow-drop {
  0% {
    box-shadow: 0 0 0 #71848a;
  }
  50% {
    box-shadow: 0 0 20px #71848a;
  }
  100%{
    box-shadow: 0 0 0 #71848a;
  }
}

.avatar {
  margin-top: 10px;
  border-radius: 360px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  box-shadow: 0 0 50px #3e3e32;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-form{
  text-shadow: none;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #00d0ff;
  box-shadow: 0 0 10px #00d0ff;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  color: #6a6a6a;
}

.form-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 20px;
  background-color: #222; 
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  text-align: center;
}

.form-title {
  color: white;
  margin-bottom: 20px;
  font-size: 2rem;
}

.doacao-container {
  width: 40%;
  margin: 100px 0px 0px 400px;
  margin-bottom: 60px;
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 15px;
  border: 1px solid #333;
}

.doacao-container h1 {
  text-align: center;
  color: #78fecf;
  text-shadow: 0 0 10px #00d0ff;
  font-size: 2rem;
  margin-bottom: 30px;
}

#quantidade{
  color: black;
}

label {
  text-align: left;
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #7cdedc;
  font-size: 22px;
}

select,
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #c7f0ff;
  font-size: 16px;
}

button {
  width: 30%;
  padding: 12px;
  margin-top: 25px;
  background-color: transparent;
  color: white;
  border: 1px solid #ffd000;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  transition: 1s;
}

button:hover {
  background-color: #ffd000;
  box-shadow: 0 0 40px #ffae00;
  box-shadow: 0 0 80px #ffae00;
}

#btnrank{
  width: 20%;
  padding: 12px;
  margin-top: 25px;
  background-color: transparent;
  color: white;
  border: 1px solid #ffd000;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  transition: 1s;
}

#btnrank:hover {
  background-color: #ffd000;
  box-shadow: 0 0 40px #ffae00;
  box-shadow: 0 0 80px #ffae00;
}

.tabela-container {
  width: 85%;
  margin: 100px;
  margin-bottom: 60px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #076164;
}

.tabela-container h1 {
  text-align: center;
  color: #78fecf;
  text-shadow: 0 0 10px #00d0ff;
  font-size: 3rem;
  margin-bottom: 25px;
}

.tabela-doacoes {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.tabela-doacoes th,
.tabela-doacoes td {
  padding: 12px;
  text-align: center;
  border: 1px solid #444;
}

.tabela-doacoes th {
  background-color: #2a2a2a;
  color: #00d0ff;
  font-weight: bold;
}

.tabela-doacoes tr:nth-child(even) {
  background-color: #2e2e2e;
}

.tabela-doacoes tr:nth-child(odd) {
  background-color: #1c1c1c;
}

.tabela-doacoes td {
  color: #f0f0f0;
}

.paginacao{
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: #f4fdaf;
  font-weight: bolder;
}

.paginacao-btn{
  color: #09fcfc;
  text-decoration: underline;
}

#turma{
  cursor: pointer;
  margin-bottom: 20px;
}

/*MEDIA QUERY (RESPONSIVIDADES)*/

/* ========== RESPONSIVIDADE ========== */


/*TESTANDO BIBLIOTECA KEY FRAMES*/
/*TESTAR OPACITY*/