*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /*scrollbar-width: thin;
  scrollbar-color: #e70074 #272626;*/
}

/*Scroll-bar*/
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #272626;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a89004;
}

:root {
      --color-bg-dark: #06141B;
      --color-bg-medium: #11212D;
      --color-card: #253745;
      --color-text: #CCD0CF;
      --color-text-secondary: #9BA8AB;
      --color-accent: #F2B705; /* amarelo solar */
      --color-1: #06141B;
      --color-2: #11212D;
      --color-3: #253745;
      --color-4: #4A5C6A;
      --color-5: #9BA8AB;
      --color-6: #CCD0CF;

    }
  
body{
  /*Dark Theme*/
  background-color: #eff6e0;
  /*Light Theme*/

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  font-family: "Poppins", sans-serif;
  background: var(--color-5);
  color: var(--color-6);
  overflow-x: hidden;
}

/* Fundo com a Imagem Do Canva "MINHOCA" */
.fundo-personalizado{
  background-image: url('/static/img/cody-chan-KXhg6oW1npQ-unsplash.jpg'); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Faz a imagem cobrir todo o elemento */
  min-height: 100vh; /* Define a altura mínima para ocupar a tela inteira */
  width: 100%; /* Faz o elemento ocupar toda a largura */
  background-repeat: no-repeat; 
  background-position: center; /* Centraliza a imagem */
  color: white; 
  padding: 20px; 
}

#bg-video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.3);
}

main{
  flex: 1;
  align-items: center;
  text-align: center;
}

#Logo_index{
  width: 350px;
}

main h4{
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--color-accent);
  padding: 10px;
}

.article_doacoes_doar{
  background: var(--color-6);
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 40px;
}

.icones_doacoes_doar{
  color: var(--color-2);
  font-size: 1rem;
}

.icones_doacoes_doar a:hover + h3 {
  color: #ffee06;
  transition: 0.7s;
  font-size: 1.6rem;
}

#img-j{
  width: 310px;
  border-radius: 360px;
  transition: 0.7s;
}

#img-j:hover{
  scale: calc(1.1);
}

@keyframes fadeInUp {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

/* ========== RESPONSIVIDADE ========== */