*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /*scrollbar-width: thin;
  scrollbar-color: #e70074 #272626;*/
}

html {
  height: 100%;
  width: 100%;
}

/*Scroll-bar*/
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #272626;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a89004; /*DEFINIR CORES*/
}

/*PADRONIZAÇÃO DE CORES*/
:root {
      --color-bg-dark: #06141B;
      --color-bg-medium: #11212D;
      --color-card: #253745;
      --color-text: #CCD0CF;
      --color-text-secondary: #9BA8AB;
      --color-accent: #F2B705;
      --color-1: #00171f;
      --color-2: #003459;
      --color-3: #7facbb;
      --color-4: #f0f7f4;
      --color-5: #9BA8AB;
      --color-6: #CCD0CF;

    }
  
body{
  /*Dark Theme*/
  /*Light Theme*/
  background: var(--color-1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  font-family: "Poppins", sans-serif;
  /*background: linear-gradient(180deg, var(--color-6), var(--color-3));*/
  color: var(--color-6);
  overflow-x: hidden;
}

main{
  position: relative;
  flex: 1;
  align-items: center;
  text-align: center;
}

#Logo_index{
  width: 350px;
}

main h4{
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--color-accent);
  padding: 10px;
}

.background-gradient {
  background-image: url(/static/img/gradiente.webp);
  background-position: top;
  background-repeat: repeat-y;
  background-size: contain;
  position: relative;
}

#index-logo{
  width: 50%;
}

.article_doacoes_doar{
  background: var(--color-6);
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 40px;
}

.icones_doacoes_doar{
  color: var(--color-2);
  font-size: 1rem;
}

.icones_doacoes_doar a:hover + h3 {
  color: #ffee06; /*DEFINIR CORES*/
  transition: 0.7s;
  font-size: 1.6rem;
}

#img-j{
  width: 310px;
  border-radius: 360px;
  transition: 0.7s;
}

#img-j:hover{
  scale: calc(1.1);
}

@keyframes fadeInUp {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}


/*Página ERRO 404*/
.container_fail_404{
  display: flex;
  justify-content: center;
}

.fail_404 h6{
  font-size: 1.5rem;
}

.letra{
  color: var(--color-accent);
  font-size: 8rem;
  letter-spacing: 20px;
}

.fail_404{
  background: transparent;
  border: 0;
}

/* ========== RESPONSIVIDADE ========== */


.back-button{
  position: relative;
  width: 100%;
  display: flex;
  align-items: start;
  font-size: 1em;
  margin: 60px;
  z-index: 9999;
}

.back-button-logo{
  background: #06141B;
  padding: 1em;
  border-radius: 60px;
  transition: 0.4s;
  opacity: 0.75;
}

.back-button-logo:hover{
  background: #06141B;
  opacity: 1;
}