/* HERO */
#home {
  background: linear-gradient(rgba(6, 20, 27, 0.8), rgba(6, 20, 27, 0.8)),
    url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&fm=jpg&q=60&w=3000")
      center/cover;
}

.hero h1 {
  font-size: 3rem;
  color: var(--color-accent);
}

.hero p {
  margin: 1rem 0 2rem;
  color: var(--color-6);
  font-size: 1.2rem;
  max-width: 600px;
  margin-inline: auto;
}

.btn {
  background: var(--color-accent);
  border: none;
  padding: 0.8rem 1.5rem;
  color: var(--color-1);
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.05);
  background: var(--color-5);
  color: var(--color-2);
  
}

/* SEÇÕES */
section {
  padding: 6rem 2rem;
  text-align: center;
  background: var(--color-2);
  border-bottom: 1px solid var(--color-3);
}

section:nth-child(even) {
  background: var(--color-3);
}

section h2 {
  color: var(--color-accent);
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

/* CAMPANHAS */
.campanhas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  background: var(--color-4);
  padding: 2rem;
  border-radius: 15px;
  max-width: 300px;
  transition: transform 0.4s, box-shadow 0.4s;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 0 20px var(--color-accent);
}

/* MAPA */
.map-container {
  width: 100%;
  max-width: 700px;
  height: 400px;
  margin: 2rem auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(242, 183, 5, 0.3);
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

#home-reel-cta {
    display: flex;
    position: relative;
    float: left;
    overflow: hidden;
    padding: 1em 1.5em 1em 1.625em;
    align-items: center;
    gap: 1em;
    border-radius: 5.3125em;
    font-size: clamp(.875rem,1vw,1.75rem);
    background: #fff;
    font-family: Aeonik;
    text-transform: uppercase;
    width: fit-content;
    height: 3.375em;
    font-weight: 500;
    pointer-events: auto;
    color: #fff;
    grid-column: 7 / span 6;
    margin-top: 3em;
    color: #201f1f;
    box-shadow: 0 6px 10px #0000000a,0 2px 4px #0000000a;
    transition: background cubic-bezier(.35,0,0,1) .2s;
    will-change: transform
}

@media (hover: hover) {
    #home-reel-cta:hover {
        color: #f2dada;;
        background: #242bf6;
        transition: background cubic-bezier(.35,0,0,1) .5s .3s
    }

    #home-reel-cta:hover #home-reel-cta-text {
        transform: translate3d(-1.5em,0,0)
    }

    #home-reel-cta:hover #home-reel-cta-dot {
        transform: translate3d(3em,0,0) scale(20);
        background: #0a0fa1
    }

    #home-reel-cta:hover #home-reel-cta-arrow {
        transform: translateZ(0)
    }

    #home-reel-cta:hover #home-reel-cta-arrow svg {
        color: #daf1f2
    }
}

#home-reel-cta-dot {
    display: inline-block;
    position: relative;
    width: .5em;
    height: .5em;
    background: #201f1f;
    border-radius: 100px;
    z-index: 1;
    transition: background cubic-bezier(.35,0,0,1) .5s,transform cubic-bezier(.35,0,0,1) .4s
}

#home-reel-cta-text {
    position: relative;
    z-index: 1;
    transition: color cubic-bezier(.35,0,0,1) .5s,transform cubic-bezier(.35,0,0,1) .4s
}

#home-reel-cta-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1em;
    height: 1.2em;
    width: 1.2em;
    color: #0a0fa1;
    border-radius: 100%;
    transform: translate3d(3em,0,0);
    transition: transform cubic-bezier(.4,0,0,1) .4s;
    z-index: 1
}

#home-reel-cta-arrow svg {
    transition: color .5s;
    width: 100%;
    height: 100%
}


/*TESTE NOVO*/

